<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="comprar" href="/home">🠄 Voltar</ion-button>
        <h1>Detalhes do produto</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <img class="product-img" src="../../assets/produtos/produto-relogio.jpg" />
    <ion-card-header>
      <ion-card-subtitle>ACESSÓRIOS</ion-card-subtitle>
      <ion-card-title>Relógio CASIO</ion-card-title>
    </ion-card-header>
    <ion-card-content class="product-content">
      Febre entre os fashionistas, a linha de relógios Vintage da Casio é inspirada nos modelos
      lançados nos anos 70 / 80 e agora, repaginados, tornaram-se referências bem atuais no mundo da moda.
      <div class="price">
        R$ 295,00
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
