
.product-img {
  width: 50%;
  height: auto;
  float: left;
}

.price {
  font-size: 2em;
  font-weight: bold;
  color: #000000;
}

.product-content {
  margin-top: 2.5em;
}

.header {
  padding: 0.3em;
  font-size: 3em;
  font-weight: bold;
  background: #FDA715;
  color: #FFF;
}
