

<ion-content>
  <div class="header">
    Nossos <br /> Produtos
  </div>
  <ion-card>
    <img class="product-img" src="../../assets/produtos/produto-relogio.jpg" (click)="detalheProduto()" />
    <ion-card-header>
      <ion-card-subtitle>ACESSÓRIOS</ion-card-subtitle>
      <ion-card-title>Relógio CASIO</ion-card-title>
    </ion-card-header>
    <ion-card-content class="product-content">
      Um relógio super resistente e que fica muito bonito no seu pulso.
      <div class="price">
        R$ 89,99
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="product-img" src="../../assets/produtos/violao.jpg" />
    <ion-card-header>
      <ion-card-subtitle>MUSICA</ion-card-subtitle>
      <ion-card-title>Violão Takamine</ion-card-title>
    </ion-card-header>
    <ion-card-content class="product-content">
      Violão de uma das melhores marcas, qualidade garantida.
      <div class="price">
        R$ 3889,99
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="product-img" src="../../assets/produtos/Notebook.jpg" />
    <ion-card-header>
      <ion-card-subtitle>TECNOLOGIA</ion-card-subtitle>
      <ion-card-title>Notebook 2 em 1</ion-card-title>
    </ion-card-header>
    <ion-card-content class="product-content">
      Um computador que pode ser tablet e notebook ao mesmo tempo.
      <div class="price">
        R$ 3889,99
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="product-img" src="../../assets/produtos/tenis.jpg" />
    <ion-card-header>
      <ion-card-subtitle>CALÇADOS</ion-card-subtitle>
      <ion-card-title>Tenis Vans Old Skool</ion-card-title>
    </ion-card-header>
    <ion-card-content class="product-content">
      Calçado de ótima qualidade e duração.
      <div class="price">
        R$ 189,99
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="product-img" src="../../assets/produtos/celular.jpg" />
    <ion-card-header>
      <ion-card-subtitle>TECNOLOGIA</ion-card-subtitle>
      <ion-card-title>Celular SAMSUMG</ion-card-title>
    </ion-card-header>
    <ion-card-content class="product-content">
      Celular com ótimo custo benefício e atende as necessidades do dia a dia.
      <div class="price">
        R$ 1350,00
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="product-img" src="../../assets/produtos/pulseira.jpg" />
    <ion-card-header>
      <ion-card-subtitle>TECNOLOGIA</ion-card-subtitle>
      <ion-card-title>Pulseira Xiaomi</ion-card-title>
    </ion-card-header>
    <ion-card-content class="product-content">
      Pulseira com sensor cardiaco a prova d'água e mostra as horas.
      <div class="price">
        R$ 95,00
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>
