

<ion-content>
  <div class="header">
    Nossos <br /> Produtos
  </div>

  <ion-card >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="product-img" src="../../assets/produtos/produto-relogio.jpg" (click)="detalheProduto()" />
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-subtitle>ACESSÓRIOS</ion-card-subtitle>
            <ion-card-title>Relógio CASIO</ion-card-title>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="product-content">
      <ion-button class="comprar" href="/detalhe-produto">COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="product-img" src="../../assets/produtos/violao.jpg" />
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-subtitle>MUSICA</ion-card-subtitle>
            <ion-card-title>Violão Takamine</ion-card-title>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="product-content">
      <ion-button class="comprar" href="/detalhe-produto">COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="product-img" src="../../assets/produtos/Notebook.jpg" />
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-subtitle>TECNOLOGIA</ion-card-subtitle>
            <ion-card-title>Notebook 2 em 1</ion-card-title>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="product-content">
      <ion-button class="comprar" href="/detalhe-produto">COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="product-img" src="../../assets/produtos/tenis.jpg" />
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-subtitle>CALÇADOS</ion-card-subtitle>
            <ion-card-title>Tenis Vans Old Skool</ion-card-title>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="product-content">
      <ion-button class="comprar" href="/detalhe-produto">COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="product-img" src="../../assets/produtos/celular.jpg" />
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-subtitle>TECNOLOGIA</ion-card-subtitle>
            <ion-card-title>Celular SAMSUMG</ion-card-title>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="product-content">
      <ion-button class="comprar" href="/detalhe-produto">COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="product-img" src="../../assets/produtos/pulseira.jpg" />
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-subtitle>TECNOLOGIA</ion-card-subtitle>
            <ion-card-title>Pulseira Xiaomi</ion-card-title>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="product-content">
      <ion-button class="comprar" href="/detalhe-produto">COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
