
.product-img {
  width: 100%;
  height: auto;
  float: left;
}

.product-content {
  padding-top: 0px;
}

.header {
  padding: 0.3em;
  font-size: 3em;
  font-weight: bold;
  color: #FFF;
  background: #3880ff;
}

.comprar {
  width: 100%;
}
